
@font-face {
    font-family: Sintony-Bold;
    src: url(fonts/sintony/Sintony-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url(fonts/PlayfairDisplay/PlayfairDisplay-Bold.otf) format('opentype');
    font-weight: 700;
    font-style: normal;
}
.logo1 {
    /* Layout Properties */
width: 133px;
height: 33px;
/* UI Properties */
text-align: left;
letter-spacing: 0px;
color: #FEA100;
opacity: 1;
font-size: 1.8vw;
font-family: PlayfairDisplay-Bold;
}
.logo2 {
padding-top: 0.1vw;
width: 129px;
height: 18px;
text-align: left;
letter-spacing: 0.9px;
color: #ffffff;
opacity: 1;
font-size: 1.05vw ;
font-family: PlayfairDisplay-Bold;
}
.logo{
    /* Layout Properties */
width: 212px;
height: 46px;
/* UI Properties */
opacity: 1;
}
.padnaw {
    padding-top: 0px !important;
}
.padnawtxt {
    padding-top: 2.25%;
}
.czcionkatyp {
    letter-spacing: 0.1vh;
    color: white;
    font-size: 1vw
}
.btnrezerwacja {
    /* Layout Properties */
left: 69.695% ;
width: 18vh ;
height: 4vh ;
/* UI Properties */
background: #FEA100 0% 0% no-repeat padding-box ;
border: 2px solid #FFFFFF !important;
margin: 0 auto;
margin-top: 3px;

opacity: 1 ;
}

.ramkabtn {
    /* Layout Properties */
left: 69.543% ;
width: 18.7vh ;
height: 4.6vh;
/* UI Properties */
background: #FEA100 0% 0% no-repeat padding-box ;
text-align: center;
justify-content: center;
opacity: 1;
margin-left: 15%;
}
.talerz {
    /* Layout Properties */


/* UI Properties */
background: transparent url('img/icon_plate.png') 0% 0% no-repeat padding-box;
opacity: 1;
float: left;
padding-top: 0.2vh;
padding-right: 0.3vw;
padding-left: 0.3vw;
}
.book {

margin-bottom: 0px;
text-align: left;
color: #FFFFFF;
opacity: 1;
font-size: 0.7vw;
padding-left: 0.01vw;
}
#conposfix {
margin-left: 20vw !important;
 z-index: 99 !important; 
}
button {
border: none;
text-decoration: none;
}

.margin-carousel {
    margin-top: -10.2vh
}

.test1 {
    height: 60vh;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 5vw !important;
  height: 5vw !important;
}

.carousel-images-height {
    height: 80vh;
}

.carousel-labels-height {
    height: 59vh;
}
.carousel-paragraph-line-height {
    line-height: 4.5vh !important;
}

.carousel-labels-header-font {

    font-size: 3vw !important;
}

.carousel-labels-drp-font{
    font-size: 1.5vw !important;
}

.carousel-arrow-left-place {
    left: 14vw !important;
}

.carousel-arrow-right-place {
right: 14vw !important;
}

.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-in-out 2s;
}

.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
    transition: opacity ease-in-out 2s;
}
.carousel-image-position {
position: relative;
z-index: 100;
top: 6vh;
}
.carousel-label-callus {
    color: #FEA100;
    font-size
}

.carousel-number {
    font-family: PlayfairDisplay-Bold;
    color: #FFFFFF;
    font-size: 2vw;
    line-height: 1.2vh;
}